# Optional Yandex Cloud mirror. Enable per terminal with TF_CLI_CONFIG_FILE.
# Do not overwrite the user's global Terraform configuration.
provider_installation {
  network_mirror {
    url     = "https://terraform-mirror.yandexcloud.net/"
    include = ["registry.terraform.io/yandex-cloud/yandex"]
  }
  direct {
    exclude = ["registry.terraform.io/yandex-cloud/yandex"]
  }
}
